.idea/
.DS_Store
CSE 110.iml
Assignment1/Assignment1.iml
Assignment1/.DS_Store
Assignment1/src/.DS_Store
Assignment2/Assignment2.iml
Assignment2/.DS_Store
Assignment2/src/.DS_Store
Assignment3/Assignment3.iml
Assignment3/.DS_Store
Assignment3/src/.DS_Store
Lab1/Lab1.iml
Lab1/.DS_Store
Lab1/src/.DS_Store
Lab2/Lab2.iml
Lab2/.DS_Store
Lab2/src/.DS_Store
Lab3/Lab3.iml
Lab3/.DS_Store
Lab3/src/.DS_Store
Lab3_1/Lab3_1.iml
Lab3_1/.DS_Store
Lab3_1/src/.DS_Store